#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias c="cargo"
alias d="cd ~/dev"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/dev"
alias g="git"
alias h="history"
alias j="jq '.'"
alias jj="jq -C '.' | less -R"
alias op="openport"
alias od="opendocker"
alias gg="git status -sb"
alias gs="git status -s"
alias ga='git ap'
alias gc="git commit --verbose"
alias gac='git ap && gc'
alias gca='git ap && gc'
alias asd='git hunks && gc'
alias vi="vim"

# Typos
alias whoch='which'
alias gut="git"
alias got="git"
alias gir="git"

# Managing two archs
alias intelbrew="arch -x86_64 /usr/local/bin/brew"
# alias intelcargo="arch -x86_64 env HOME=/Users/knut/.x86_64 /Users/knut/.x86_64/.cargo/bin/cargo"
# alias intelrustup="arch -x86_64 env HOME=/Users/knut/.x86_64 /Users/knut/.x86_64/.cargo/bin/rustup"
alias intelrs="arch -x86_64 env HOME=/Users/knut/.x86_64 PATH=/Users/knut/.x86_64/.cargo/bin:$PATH CARGO_HOME=/Users/knut/.x86_64/.cargo RUSTUP_HOME=/Users/knut/.x86_64/.rustup"
# https://twitter.com/emorydunn/status/1345443732154245121
alias steep="env HOMEBREW_INSTALL_BADGE=🍵 brew"
alias intelsteep="arch -x86_64 env HOMEBREW_INSTALL_BADGE=🍵 /usr/local/bin/brew"

# Replacements
# Inspured by https://remysharp.com/2018/08/23/cli-improved

## ls -> exa
## https://github.com/ogham/exa

alias ls='exa --classify --icons --group-directories-first --time-style=long-iso'

## List files one line at a time
alias l1="exa --group-directories-first --oneline"

### List files in long format, excluding things that are .gitignored
alias l0="ls --long --git-ignore"

### List files in long format
alias l="ls --long"

### List files in long format, including git status
alias ll="ls --long --git"

### List all files long format, excluding . and ..
alias la="ls --long --all"

### List all files long format, including git status, excluding . and ..
alias lla="ls --long --git --all"

### List only directories
alias lsdir="exa --time-style=long-iso --long --only-dirs"

## cat -> bat
## https://github.com/sharkdp/bat
alias cat='bat --plain --theme=TwoDark'
alias ogcat='command cat'

## ping -> prettyping
## https://github.com/denilsonsa/prettyping
alias ping='prettyping'


# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Skip dns and services lookup for lsof
alias lsof='lsof -nP'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# CATAAS
alias cataas='curl -so- https://cataas.com/c | imgcat'

# Doge mode (`such git`)
alias such=' '

# Longer timeout with HTTPie
alias http='http --timeout 300'

# Verbose http
alias httpv='http -pHhBb'

# Get week number
alias week='date +%V'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='brew update; brew upgrade; brew cleanup;'
alias brupdate='update'

# Google Chrome
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias canary='/Applications/Google\ Chrome\ Canary.app/Contents/MacOS/Google\ Chrome\ Canary'

# IP addresses
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Show active network interfaces
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en0 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Do a TCP port check
alias port="nc -vz 127.0.0.1"
alias portcheck="nc -vz"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# JavaScriptCore REPL
jscbin="/System/Library/Frameworks/JavaScriptCore.framework/Versions/A/Resources/jsc";
[ -e "${jscbin}" ] && alias jsc="${jscbin}";
unset jscbin;

# Trim new lines and copy to clipboard
alias ctrlc="tr -d '\n' | pbcopy"

# Recursively delete `.DS_Store` files
alias cleanup="find . \( \( -type d -name target \) -or \( -type d -name build \) -or \( -type d -name node_modules \) -or \( -type f -name '*.DS_Store' \) \) -exec rm -r {} \;"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files, preserving hyperlinks
# Usage: `mergepdf input{1,2,3}.pdf`
alias mergepdf='gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=_merged.pdf'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

# Airport CLI alias
alias airport='/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport'

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
	alias "${method}"="lwp-request -m '${method}'"
done

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# default options for some binaries
[ -x /usr/local/bin/git ] && alias git='/usr/local/bin/git'
alias htop='sudo htop -d 10'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# JVM switching
alias j6='sdk offline enable > /dev/null && sdk use java 6 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j7='sdk offline enable > /dev/null && sdk use java 7 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j8='sdk offline enable > /dev/null && sdk use java 8 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j9='sdk offline enable > /dev/null && sdk use java 9 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j10='sdk offline enable > /dev/null && sdk use java 10 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j11='sdk offline enable > /dev/null && sdk use java 11 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j12='sdk offline enable > /dev/null && sdk use java 12 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j13='sdk offline enable > /dev/null && sdk use java 13 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j14='sdk offline enable > /dev/null && sdk use java 14 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j15='sdk offline enable > /dev/null && sdk use java 15 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j16='sdk offline enable > /dev/null && sdk use java 16 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j17='sdk offline enable > /dev/null && sdk use java 17 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j18='sdk offline enable > /dev/null && sdk use java 18 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j19='sdk offline enable > /dev/null && sdk use java 19 > /dev/null && sdk offline disable > /dev/null && java -version'
alias j20='sdk offline enable > /dev/null && sdk use java 20 > /dev/null && sdk offline disable > /dev/null && java -version'
alias jg='sdk offline enable > /dev/null && sdk use java graal > /dev/null && sdk offline disable > /dev/null && java -version'


# move with rsync, use rmove -z /a /b to enable gzip for full speedup when downloading text files from servers
alias rmove="rsync --remove-source-files -Phav  --exclude .git --exclude .idea"
alias rmove-all="rsync --remove-source-files -Phav"
alias rcopy="rsync -Phav --exclude .git --exclude .idea"
alias rcopy-all="rsync -Phav"

# clean up cached ssh connections
alias ssh_unshare="ps ax | grep ssh | grep ssh_persist | grep -v grep |  awk '{print \$1}' | xargs -r kill"

# stats infos
alias hot='macstats cpu'
alias fast='macstats fan'
